
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<div>
    <div class="row">
        
        <div class="col-md-6">
            <h4>Obligation Admin</h4>
            <div class="list-group">
                <a href="~/RCManager/" class="list-group-item">Responsibility Center Management</a>
                <a href="~/UACSManager/" class="list-group-item">UACS Management</a>
                <a href="~/PAPManager/" class="list-group-item">MFO/PAP Management</a>
            </div>
        </div>
        
        <div class="col-md-6">
            <h4>User Admin</h4>
            <div class="list-group">
                
                <a href="#" class="list-group-item">User Management</a>
            </div>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-6">
            <h4>Allotment Admin</h4>
            <div class="list-group">
                <a href="#" class="list-group-item">Allotment Management</a>
            </div>
        </div>
    </div>
    
</div>
